// Custom overrides
.footer {
  background-color: #02261F;
  color: #fff;
}

.footer a,
.footer .footer-links a,
.footer .footer-column-name {
  color: #fff;
}

.footer .footer-links a:hover {
  background-color: rgba(255, 255, 255, 0.08);
  color: #fff;
}

.footer::after {
  content: "iDigBio is funded by grants from the National Science Foundation [DBI-1115210 (2011-2018), DBI-1547229 (2016-2022), & DBI-2027654 (2021-2026)]. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation. © 2011-2025 iDigBio";
  display: block;
  margin: 16px 24px 0 24px;
  color: #fff;
  opacity: 0.95;
  line-height: 1.5;
  font-size: small;
}
.navbar-logo img { margin-right: 3px; height: 50px; width: auto; }
.navbar-logo .navbar-logo_text { margin-left: 3px; }
.navbar-item img {max-height: none;}

.feature-img {background-color: #02261F; background-repeat: no-repeat; }

.tile-card .title-image img {height: 100px; width: auto;}
