//NOTE// Some pages may supercede this style due to page-specific dependencies.
// - /calendar/ (source: /en/calendar.md):
//   Uses bootstrap as a popover dependency

// Lighter lights, darker darks
// to more easily meet ADA WCAG 2.1 Level AA conformance requirements
$wcag-base-whiteish: #fcfcfc;
$wcag-base-blackish: #292929;
$text: scale-color($wcag-base-blackish, $lightness: -40%); //originally #4a4a4a
$menu-label-color: scale-color($wcag-base-blackish, $lightness: -0%); //originally #7a7a7a
$input-placeholder-color: #707070; //originally bulmaRgba($input-color = $text-strong = $grey-darker = hsl(0, 0%, 21%), 0.3)
$footer-background-color: $wcag-base-whiteish; //originally #fafafa

@import "theme/_main";

$theme-features-background-color: #f5fbfb;
.features {
  background: $theme-features-background-color;
}

// // GBIF Tailwind CSS overrides
//
// GBIF uses Tailwind to style their Hosted Portal search interface widget:
// https://github.com/gbif/gbif-web/blob/8ee7155051682b81fca9f5b835451f8c394d986a/packages/gbif-org/tailwind.config.js
//
// A more proper fix may be to update the CSS class attributes (particularly 
// the granular/scaled colours) for non-ADA-conformant UI elements rather than 
// defining classes to be another already-existing class.
//
//NOTE// *Do not* change GBIF theme colours (branding), just use a more conformant shade.
.g-opacity-60 {
  /* from: .g-opacity-70 */
  opacity: .7;
}
.g-text-slate-400 {
  /* from: .g-text-slate-500 */
  color: rgb(100, 116, 139);
}
.g-text-slate-500 {
  /* from: .g-text-slate-600 */
  color: rgb(71, 85, 105);
}



// You can add additional styling here
.content figure figcaption {
  font-size: smaller;
}

@import "_example"; // either as inline css or as a separate file as in this case

//tests invalid (see comment in file)// @import "_complianceTests";
